<section class="se">
  <div class="side_bar">
    <div class="side_bar_header">
      <a href=""><img src="../../assets/logo.svg" alt="" /></a>
      <div>
        <ul>
          <li>
            <a href=""><i class="fa-regular fa-bell"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-regular fa-circle-user"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="side_bar_profile">
      <div class="side_bar_profile_img">
        <img src="../../assets/brian-hughes.jpg" alt="" />
      </div>
      <div class="side_bar_profile_details">
        <h3>Brian Hughes</h3>
        <p>hughes.brian@company.com</p>
      </div>
    </div>
    <div class="side_bar_meanu">
      <div class="side_bar_meanu_item1">
        <h3>Dashboards</h3>
        <p>Unique dashboard designs</p>
        <div>
          <ul>
            <li>
              <a href=""><i class="fa-regular fa-clipboard"></i>Project</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-chart-pie"></i>Analytics</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-coins"></i>Finance</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-sack-dollar"></i>Crypto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side_bar_meanu_item2">
        <h3>Applications</h3>
        <p>Custom made application designs</p>
        <div>
          <ul>
            <li>
              <a href=""><i class="fa-solid fa-graduation-cap"></i>Academy</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-comment-dots"></i>Chat</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-people-group"></i>Contacts</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cart-shopping"></i>ECommerce<i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cloud"></i>File Manager</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-life-ring"></i>Help Center <i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-envelope"></i>Mailbox <span>27</span></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-note-sticky"></i>Notes</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-lines-leaning"></i>Scrumboard</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-circle-check"></i>Tasks</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side_bar_meanu_item3">
        <h3>Pages</h3>
        <p>Custom made page designs</p>
        <div>
          <ul>
            <li>
              <a href=""><i class="fa-solid fa-graduation-cap"></i>Activities</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-comment-dots"></i>Authentication</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-people-group"></i>Coming Soon</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cart-shopping"></i>Error <i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cloud"></i>Invoice</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-life-ring"></i>Maintenance <i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-envelope"></i>Pricing<span>27</span></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-note-sticky"></i>Profile</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-lines-leaning"></i>Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side_bar_meanu_item4">
        <h3>User Interface</h3>
        <p>Building blocks of the UI & UX</p>
        <div>
          <ul>
            <li>
              <a href=""><i class="fa-solid fa-graduation-cap"></i>Academy</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-comment-dots"></i>Chat</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-people-group"></i>Contacts</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cart-shopping"></i>ECommerce <i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-cloud"></i>File Manager</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-life-ring"></i>Help Center <i class="fa-solid fa-angle-up rotation"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-envelope"></i>Mailbox <span>27</span></a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-note-sticky"></i>Notes</a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-lines-leaning"></i>Scrumboard</a>
            </li>
            <li>
              <a href=""><i class="fa-regular fa-circle-check"></i>Tasks</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side_bar_meanu_item5">
        <h3>Documentation</h3>
        <p>Everything you need to know about Fuse</p>
      </div>
      <div class="side_bar_meanu_item6">
        <h3>Navigation features</h3>
        <p>Collapsable levels & badge styles</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header">
      <div><i class="fas fa-bars"></i></div>
      <div class="header_item">
        <ul>
          <li>
            <a href=""><img src="../assets/English.png" alt="" /></a>
          </li>
          <li>
            <a href=""
              ><i class="fa-sharp fa-solid fa-up-down-left-right"></i
            ></a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-regular fa-bookmark"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-regular fa-envelope"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-regular fa-comments"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="body_contents1">
      <div class="body_content1">
        <div class="body_content1_item1">
          <div>
            <a href=""
              ><img
                src="../../assets/brian-hughes.jpg"
                class="body_content1_item1_img"
                alt=""
            /></a>
          </div>
          <div class="body_content1_item1_text">
            <h1>Welcome back, Brian!</h1>
            <p>
              <i class="fa-solid fa-bell"></i>You have 2 new messages and 15 new
              tasks
            </p>
          </div>
        </div>
        <div class="body_content1_item2">
          <ul>
            <li>
              <a href=""
                ><button class="body_content1_item2_button1">
                  <i class="fa-solid fa-envelope"></i>Massage
                </button></a
              >
            </li>
            <li>
              <a href=""
                ><button class="body_content1_item2_button2">
                  <i class="fa-solid fa-gear"></i>Setting
                </button></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="body_content1_item3">
        <a href=""
          >ACME Corp. Backend App<i class="fa-solid fa-angle-up"></i>
        </a>
      </div>
    </div>

    <div class="body_contents2">
      <div class="body_content2">
        <ul>
          <li
            (click)="onTabClick('Home')"
            [class.active]="activeTab == 'Home'"
            class="tab-link"
          >
            Home
          </li>
          <li
            (click)="onTabClick('Budget')"
            [class.active]="activeTab == 'Budget'"
            class="tab-link"
          >
            Budget
          </li>
          <li
            (click)="onTabClick('Team')"
            [class.active]="activeTab == 'Team'"
            class="tab-link"
          >
            Team
          </li>
        </ul>
        <div class="body_content2_border"></div>
        <div *ngIf="activeTab == 'Home'" class="w-100">
          <div class="grid_container1">
            <div class="grid_container1_item1">
              <div class="grid_box1">
                <div class="box_content1">
                  <h3>Summary</h3>
                  <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                </div>
                <div class="box_content2 box_c1">
                  <span>21</span>
                  <p>Due Tasks</p>
                </div>
                <p class="box_content1_p">Completed:<strong> 13</strong></p>
              </div>
              <div class="grid_box1 box2">
                <div class="box_content1">
                  <h3>Summary</h3>
                  <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                </div>
                <div class="box_content2 box_c2">
                  <span>21</span>
                  <p>Due Tasks</p>
                </div>
                <p class="box_content1_p">Completed:<strong> 13</strong></p>
              </div>
              <div class="grid_box1 box3">
                <div class="box_content1">
                  <h3>Summary</h3>
                  <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                </div>
                <div class="box_content2 box_c3">
                  <span>21</span>
                  <p>Due Tasks</p>
                </div>
                <p class="box_content1_p">Completed:<strong> 13</strong></p>
              </div>
              <div class="grid_box1 box4">
                <div class="box_content1">
                  <h3>Summary</h3>
                  <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                </div>
                <div class="box_content2 box_c4">
                  <span>21</span>
                  <p>Due Tasks</p>
                </div>
                <p class="box_content1_p">Completed:<strong> 13</strong></p>
              </div>
            </div>


            <div class="grid_container1_item2">
              <div class="grid_container1_item2_header1">
                <h2>Github Issues Summary</h2>
                <ul>
                  <li>Last Week</li>
                  <li>This Week</li>
                </ul>
              </div>

              <div class="grid_container1_item2_sub-header">
              <div class="grid_container1_item2_sub-header1">
                <p>New vs. Closed</p>
                <div class="c1">
                <apx-chart [series]="series" [chart]="chart" [title]="title" [legend]="legend" ></apx-chart>
              </div>
              </div>
              <div class="grid_container1_item2_sub-header2">
                <p>Overview</p>
                <div class="grid_container1_item2_subgrid">
                  <div class="grid_container1_item2_subgrid1">
                    <div class="grid_container1_item2_subgrid1_box1 sub-box1">
                      <span>214</span>
                      <p>New Issues</p>
                    </div>
                    <div class="grid_container1_item2_subgrid1_box1 sub-box2">
                      <span>75</span>
                      <p>Closed</p>
                    </div>
                  </div>
                  <div class="grid_container1_item2_subgrid2">
                    <div class="grid_container1_item2_subgrid2_box">
                      <span>3</span>
                      <p>Fixed</p>
                    </div>
                    <div class="grid_container1_item2_subgrid2_box">
                      <span>4</span>
                      <p>Won't Fix</p>
                    </div>
                    <div class="grid_container1_item2_subgrid2_box">
                      <span>5</span>
                      <p>Re-opened</p>
                    </div>
                    <div class="grid_container1_item2_subgrid2_box">
                      <span>6</span>
                      <p>Needs Triage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="grid_container1_item2_sub3-box">
              <div class="grid_container1_item2_sub3-box1">
                <div class="grid_container1_item2_sub3-box1_header">
                <div class="grid_container1_item2_sub3-box1_header-im">
                <h2>Task Distribution</h2>
                <ul>
                  <li>Last Week</li>
                  <li>This Week</li>
                </ul>
              </div>
                <div class="chart">
                  <apx-chart [series]="series" [chart]="chart" [title]="title" [legend]="legend"></apx-chart>
              </div>
              </div>
             
                <div class="grid_container1_item2_sub3-box1_div1">
                  <div class="grid_container1_item2_sub3-box1_div2">
                    <span>594</span>
                    <p>New tasks</p>
                  </div>
                  <div class="grid_container1_item2_sub3-box1_div3">
                    <span>287</span>
                    <p>Completed tasks</p>
                  </div>
                </div>
              </div>
              <div class="grid_container1_item2_sub3-box2">
                <div class="grid_container1_item2_sub3-box1_header2">
                  <h2>Schedule</h2>
                  <ul>
                    <li>Last Week</li>
                    <li>This Week</li>
                  </ul>
                </div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Group Meeting</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>in 32 minutes</li>
                      <li><i class="fa-solid fa-location-dot"></i>Conference room 1B</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Coffee Break</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>10:30 AM</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Public Beta Release</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>11:00 AM</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Lunch</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>12:10 PM</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Dinner with David</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>05:30 PM</li>
                      <li><i class="fa-solid fa-location-dot"></i>Magnolia</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Jane's Birthday Party</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>07:30 PM</li>
                      <li><i class="fa-solid fa-location-dot"></i>Home</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>


                <div class="grid_container1_item2_sub3-box2_div1">
                  <div class="grid_container1_item2_sub3-box2_div2">
                    <h4>Overseer's Retirement Party</h4>
                    <ul>
                      <li><i class="fa-solid fa-clock"></i>09:30 PM</li>
                      <li><i class="fa-solid fa-location-dot"></i>Overseer's room</li>
                    </ul>
                  </div>
                  <div class="grid_container1_item2_sub3-box2_div3">
                    <a href=""><i class="fa-solid fa-angle-up"></i></a>
                  </div>
                </div>
                <div class="grid_container1_item2_sub3-box2_div4"></div>



              </div>
            </div>
            
          </div>
        </div>
        <div *ngIf="activeTab == 'Budget'" class="w-100">Account Details</div>
        <div *ngIf="activeTab == 'Team'" class="w-100">
          <div class="Team_member_details">
            <div class="Team_member1_details">
            <div>
              <img src="../../assets/female-10.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>

          <div class="Team_member1_details">
            <div>
              <img src="../../assets/male-14.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>

          <div class="Team_member1_details">
            <div>
              <img src="../../assets/male-19.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>

          <div class="Team_member1_details">
            <div>
              <img src="../../assets/female-01.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>

          <div class="Team_member1_details">
            <div>
              <img src="../../assets/female-02.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>

          <div class="Team_member1_details">
            <div>
              <img src="../../assets/female-03.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>


          <div class="Team_member1_details">
            <div>
              <img src="../../assets/female-20.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>


          <div class="Team_member1_details">
            <div>
              <img src="../../assets/male-01.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>


          <div class="Team_member1_details">
            <div>
              <img src="../../assets/male-02.jpg" alt="">
            </div>
            <div class="Team_paragraphs">
              <p>Nadia Mcknight</p>
              <p class="Team_paragraph2">Project Director</p>
            </div>
            <div class="Team_buttons">
              <span class="Team_button1"><i class="fa-solid fa-envelope"></i>Email</span>
              <span class="Team_button2"><i class="fa-solid fa-phone"></i>Call</span>
            </div>
          </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</section>