
.container {
  margin-left: 300px;
  width: 100%;
  li {
    padding: 0;
    list-style: none;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .header {
    padding: 5px 30px;
    
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_item {
      ul {
        padding-left:0 ;
        margin: 0;
        display: flex;
        align-items: center;
        img {
          width: 30px;
        }
      }
    }
  }

  .body_contents1 {
    padding: 0 45px;
    padding-top: 40px;
    .body_content1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .body_content1_item1 {
        display: flex;
        align-items: center;
        .body_content1_item1_text {
          padding-left: 10px;
          line-height: 1px;
          h1 {
            font-size: 38px;

          }
          p {

            color: #64748b;
          }
        }
        .body_content1_item1_img {

          width: 65px;
          border-radius: 50%;
        }
      }
      .body_content1_item2 {
        ul {
          display: flex;
          padding-left: 0;
          .body_content1_item2_button1 {
            background-color: #232d40;
            border-color: #232d40;
          }
          .body_content1_item2_button2 {
            background-color: #5249e3;
            
          }
          button {
            align-items: center;
            border: none;
            height: 40px;
            width: 130px;
            border-radius: 50px;
            color: #fff;
            font-size: 17px;
            i {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  .body_content1_item3 {
    display: flex;
    border-bottom-width: 0px;
    background-color: #f1f5f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 215px;
    padding: 0 15px;
    height: 40px;
    a {
      border-width: 1px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      color: #1e293b;
      i {
        padding-right: 10px;
        color: #232425;
        border-radius: 15px;
        transform: rotate(180deg);
      }
    }
  }

  .body_contents2 {
    margin: 0;
    padding: 1px;
    background-color: #f1f5f9;
    .body_content2 {
      .body_content2_border {
        height: 1px;
        background-color: #e2e8f0;
        margin-bottom: 20px;
      }
      padding: 0 45px;
      .w-100 {
        display: grid;
        .grid_container1 {
          display: grid;
          gap: 20px;
          .grid_container1_item1 {
            grid-template-columns: repeat(4, 1fr);
            
            gap: 20px;
            display: grid;
            .grid_box1 {
              padding: 0 20px;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              //width: 150px;
              color: rgb(7, 7, 7);
              border-radius: 10px;
              background-color: #fff;
              .box_content1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .box_content2 {
                padding-top: 30px;
                text-align: center;
                line-height: 10px;
                span {
                  font-size: 60px;
                  font-weight: 600;
                }
              }
              .box_content1_p {
                color: rgb(141, 131, 131);
                padding-top: 20px;
                text-align: center;
                strong {
                  font-size: 20px;
                }
              }
              .box_c1 {
                color: #3b82f6;
              }
              .box_c2 {
                color: #ef4444;
              }
              .box_c3 {
                color: #f59e0b;
              }
              .box_c4 {
                color: #22c55e;
              }
            }
          }
          .grid_container1_item2 {
            grid-template-columns: repeat(1, 1fr);
            display: grid;
            
            padding: 0 40px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            color: rgb(7, 7, 7);
            border-radius: 10px;
            background-color: #fff;
            li {
              font-size: 15px;
              color: #64748b;
            }
            .grid_container1_item2_header1 {
              display: flex;
              justify-content: space-between;
            }
            .grid_container1_item2_sub-header {

              grid-template-columns: repeat(2, 1fr);
              display: grid;
              gap: 20px;


            }
            .grid_container1_item2_sub-header2 {
              .grid_container1_item2_subgrid {
                display: grid;
                gap: 20px;
                .grid_container1_item2_subgrid1 {
                  grid-template-columns: repeat(2, 1fr);
                  display: grid;
                  gap: 20px;
                  .sub-box1 {
                    color: #3730a3;
                    background-color: #bcb8f1 !important;
                  }
                  .sub-box2 {
                    color: #166534;
                    
                    background-color: #cff1db !important;
                  }
                  .grid_container1_item2_subgrid1_box1 {
                    background-color: #eef2ff;
                    border-radius: 10px;
                    padding: 30px 30px;
                    padding-top: 60px;
                    text-align: center;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    line-height: 10px;
                    span {
                      font-size: 45px;
                      font-weight: 600;
                    }
                  }
                }
                .grid_container1_item2_subgrid2 {
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                 
                  gap: 20px;
                  text-align: center;
                  padding-bottom: 30px;
                  .grid_container1_item2_subgrid2_box {
                    background-color: #eef2ff;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    padding-top: 25px;
                    color: #64748b;
                    span {
                      font-size: 40px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
          .grid_container1_item2_sub3-box {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 20px;
            .grid_container1_item2_sub3-box1 {
             
              background-color: #fff;
              border-radius: 10px;
              position: relative;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              li {
                font-size: 20px;
              }
              .grid_container1_item2_sub3-box1_header {
                padding: 0 40px;
               

                li {
                  font-size: 15px;
                  color: #64748b;
                }
                .grid_container1_item2_sub3-box1_header-im {
                  display: flex;
                  justify-content: space-between;
                  //
                }
                .chart {
                  margin-bottom: 100px;
                }
              }
              .grid_container1_item2_sub3-box1_div1 {
                display: flex;
              
                border-top: 1px solid #e2e8f0;

                text-align: center;
                position: absolute;
              
                bottom: 0;
                width: 100%;
                margin-top: 40px;
                span {
                  font-size: 40px;
                  font-weight: 600;
                }
                .grid_container1_item2_sub3-box1_div2 {
                 
                  border-bottom-left-radius: 10px;
                  width: 100%;
                  background-color: #f8fafc;
                  border-right: 1px solid #e2e8f0;

                  span {
                    text-align: center;
                  }
                }
                .grid_container1_item2_sub3-box1_div3 {
            
                  border-bottom-right-radius: 10px;
                  width: 100%;
                  background-color: #f8fafc;
              
                  span {
                    text-align: center;
                  }
                }
              }
            }
            .grid_container1_item2_sub3-box2 {
              background-color: #fff;
              border-radius: 10px;
              padding: 0 40px;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              .grid_container1_item2_sub3-box1_header2 {
                display: flex;
                justify-content: space-between;
                li {
                  font-size: 15px;
                  color: #64748b;
                }
              }
              .grid_container1_item2_sub3-box2_div1 {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .grid_container1_item2_sub3-box2_div2 {
             
                  ul {
                    margin-top: 0;
                    padding-left: 0;
                  }
                  h4 {
                    margin-bottom: 0;
                  }
                  li {
                    padding-left: 0;
                    color: #94a3b8;
                    font-size: 15px;
                    line-height: 2px;
                    i {
                      padding-right: 10px;
                    }
                  }
                }
                .grid_container1_item2_sub3-box2_div3 {
                  a {
                    font-weight: 800;
                    font-style: bold;
                    font-size: 20px;
                    padding: 5px 10px;
                    
                    color: #94a3b8;
                    border-radius: 20px;
                    i {
                      transform: rotate(90deg);
                    }
                  }
                }
              }
              .grid_container1_item2_sub3-box2_div4 {
                height: 1px;
                background-color: #e2e8f0;
              }
            }
          }
        }
      }
      .active {
        color: #9046e5 !important;
        border-bottom: 2px solid #9046e5;
      }
      ul {
        padding-left: 0;
        li {
          cursor: pointer;
        }
        display: flex;
      }
    }
    .Team_member_details {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      .Team_member1_details {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #fff;
        text-align: center;
        border-radius: 10px;
        img {
          border-radius: 50%;
          margin-top: 20px;
          background-color: black;
        }
        .Team_paragraphs {
          .Team_paragraph2 {
            color: #84868a;
          }
        }
        .Team_buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #e2e8f0;
          span {

            padding: 15px;
            justify-content: center;
            text-align: center;

            font-size: 16px;

            cursor: pointer;
            i {
              padding-right: 10px;
              color: #b7c1cf;
            }
          }
          .Team_button1 {
            //color
            border-right: 1px solid #e2e8f0;
            width: 50%;
          }
          .Team_button2 {
            width: 50%;
          }
        }
      }
    }
  }
}

.se {
  display: flex;
  overflow: auto;
}

.side_bar {
  background-color: #0f172a;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;

  .side_bar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px 10px 25px;
  }
  li {
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #7f8da1;

    i {
      font-size: 20px;
      padding: 10px;
    }
    :hover {
      background-color: #4b4d4d;
      border-radius: 50%;
    }
  }
  ul {
    display: flex;
  }

  .side_bar_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    img {
      width: 95px;
      border-radius: 50%;
    }
    .side_bar_profile_details {
      line-height: 3px;
      text-align: center;
      h3 {
        font-size: 14px;
        color: white;
        padding-top: 20px;
      }
      p {
        font-size: 12px;
        color: #94a3b4;
      }
    }
  }

  .side_bar_meanu {
    padding: 0 30px;
    padding-top: 35px;
    h3 {
      line-height: 3px;
      color: #8090eb;
      font-size: 13px;
      text-transform: uppercase;
    }
    p {
      line-height: 3px;
      font-weight: 800;
      font-size: 11px;
      color: #7b808a;
    }

    ul {
      flex-direction: column;
      padding-left: 0;

      li {
        color: white;
        padding: 10px 0;
        list-style: none;
        :hover {
          background-color: #4b4d4d;
          border-radius: 8px;
           padding-top: 12px;
           padding-bottom: 10px;
           padding-right: 40px;
        }
        a {
          text-decoration: none;
          font-size: 13px;
          color: #c1c4ca;
          i {
            padding-right: 15px;
          }
          .rotation {
            transform: rotate(90deg);
            font-size: 12px;
            padding-bottom: 15px;

          }
        }
      }
    }
  }
}

.side_bar::-webkit-scrollbar {
  width: 5px;
}
.side_bar::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8);
}

@media screen and (max-width: 1279px) {
  .container {
    .body_contents2 {
      .body_content2 {
        .w-100 {
          .grid_container1 {
            .grid_container1_item2_sub3-box {
              grid-template-columns: repeat(1, 1fr);
            }
            .grid_container1_item2 {
              .grid_container1_item2_sub-header {
                grid-template-columns: repeat(1, 1fr);
              }
            }
          }
        }
            .Team_member_details {
              grid-template-columns: repeat(3, 1fr);
            }
      }
    }
  }
}
@media screen and (max-width: 1216px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 30px;
            }
          }
        }
      }
    }
  }


}
@media screen and (max-width: 1171px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1144px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1079px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 20px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1034px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 15px;
            }
            p {
              font-size: 8px;
            }
          }
        }
      }
    }
    .body_contents2 {
      .body_content2 {
        .Team_member_details {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media screen and (max-width: 995px) {
  .side_bar {
    display: none;
  }
  .container {
    margin-left: 0;
    .body_contents1 {
      padding: 0 25px;
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 25px;
            }
            p {
              font-size: 13px;
            }
          }
        }
        .body_content1_item2 {
          ul {
            padding: 0;
          }
        }
      }
    }
    .body_contents2 {
      .body_content2 {
        padding: 0 25px;
        .w-100 {
          .grid_container1 {
            .grid_container1_item1 {
              grid-template-columns: repeat(2, 1fr);
            }
            .grid_container1_item2_sub3-box {
              .grid_container1_item2_sub3-box1 {
                .grid_container1_item2_sub3-box1_header {
                  .chart {
                    //width: 90%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 722px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 20px;
            }
            p {
              font-size: 9px;
            }
          }
        }
      }
    }
  }

  .body_contents2 {
    .body_content2 {
      .Team_member_details {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media screen and (max-width: 641px) {
  .container {
    .body_contents1 {
      .body_content1 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 25px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }

    .body_contents2 {
      .body_content2 {
        .w-100 {
          .grid_container1 {
            .grid_container1_item1 {
              grid-template-columns: repeat(1, 1fr);
            }
            .grid_container1_item2 {
              .grid_container1_item2_sub-header2 {
                .grid_container1_item2_subgrid {
                  .grid_container1_item2_subgrid2 {
                    grid-template-columns: repeat(2, 1fr);
                  }
                }
              }
              .grid_container1_item2_header1 {
                h2 {
                  padding-top: 15px;
                  font-size: 15px;
                }
                ul {
                  li {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .grid_container1_item2_sub3-box {
            .grid_container1_item2_sub3-box2 {
              .grid_container1_item2_sub3-box1_header2 {
                h2 {
                  padding-top: 15px;
                  font-size: 15px;
                }
                ul {
                  li {
                    font-size: 12px;
                  }
                }
              }
              .grid_container1_item2_sub3-box2_div1 {
                .grid_container1_item2_sub3-box2_div2 {
                  h4 {
                    font-size: 12px;
                  }
                  ul {
                    font-size: 8px;
                    li {
                      font-size: 10px !important;
                      i {
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
            .grid_container1_item2_sub3-box1 {
              .grid_container1_item2_sub3-box1_header {
                .grid_container1_item2_sub3-box1_header-im {
                  h2 {
                    padding-top: 15px;
                    font-size: 15px;
                  }
                  ul {
                    li {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    .body_contents1 {
      .body_content1 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 25px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }

    .body_contents2 {
      .body_content2 {
        .w-100 {
          .grid_container1 {
            .grid_container1_item1 {
              grid-template-columns: repeat(1, 1fr);
            }
            .grid_container1_item2 {
              .grid_container1_item2_sub-header2 {
                .grid_container1_item2_subgrid {
                  .grid_container1_item2_subgrid2 {
                    grid-template-columns: repeat(2, 1fr);
                  }
                }
              }
              .grid_container1_item2_header1 {
                h2 {
                  padding-top: 12px;
                  font-size: 12px;
                }
                ul {
                  li {
                    font-size: 10px;
                  }
                }
              }
            }
          }

          .grid_container1_item2_sub3-box {
            .grid_container1_item2_sub3-box2 {
              .grid_container1_item2_sub3-box1_header2 {
                h2 {
                  padding-top: 10px;
                  font-size: 12px;
                }
                ul {
                  li {
                    font-size: 10px;
                  }
                }
              }
              .grid_container1_item2_sub3-box2_div1 {
                .grid_container1_item2_sub3-box2_div2 {
                  h4 {
                    font-size: 12px;
                  }
                  ul {
                    li {
                      font-size: 10px !important;
                      i {
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
            .grid_container1_item2_sub3-box1 {
              .grid_container1_item2_sub3-box1_header {
                .grid_container1_item2_sub3-box1_header-im {
                  h2 {
                    padding-top: 15px;
                    font-size: 12px;
                  }
                  ul {
                    li {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
        .Team_member_details {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      
    }
  }
}

@media screen and (max-width: 399px) {
  .container {
    .body_contents1 {
      .body_content1 {
        .body_content1_item1 {
          .body_content1_item1_text {
            h1 {
              font-size: 20px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
